[submodule "pandoc"]
	path = pandoc
	url = https://github.com/ckuelker/pankyll-pandoc
	branch = master
[submodule "content"]
	path = content
	url = https://github.com/ckuelker/pankyll-documentation.git
	branch = master
[submodule "themes/pankyll-theme-newspaper"]
	path = themes/pankyll-theme-newspaper
	url = https://github.com/ckuelker/pankyll-theme-newspaper.git
	branch = master
